@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: 0%;
  min-height: 100%;
  background-color: #f0f7f4;
  color: #32292f;
  font-family: "Ubuntu", sans-serif;
}

/*header*/
header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  background-color: #e9e9e9;
}

.logo {
  height: 80px;
  width: 320px;
  margin-left: 50px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.burger {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.main-menu {
  position: relative;
  margin-right: 100px;
  line-height: 80px;
}

.menu-item {
  display: inline-block;
  margin: 0 20px;
  padding: 10px;

  font-weight: 650;
  font-size: 24px;
  line-height: 24px;
}

.menu-item>a {
  color: #32292f;
  text-decoration: none;
}

.menu-item>a::after {
  position: relative;
  display: block;
  content: "";
  height: 4px;
  width: 0;
  background-color: #70abaf;
  transition: width 0.3s ease-in-out;
  left: -10px;
  bottom: -10px;
}

.menu-item>a:hover::after {
  width: calc(100% + 20px);
}

/*container*/
.container {
  max-width: 95%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 10px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.article-item {
  display: flex;
  flex-direction: row;
  flex: 1 0 40%;
  min-height: 300px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 4px 4px rgba(161, 161, 161, 0.2);
  overflow: hidden;
}

.left {
  float: left;
  min-width: 55%;
}

.article-img {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 5px;
}

.article-img > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.article-img > img:hover {
  transform: scale(1.15);
}

.inst {
  width: calc(100% - 16px);
  margin-top: 10px;
  padding: 8px;
  border-radius: 10px;
  background-color: #d0d0d0;
  cursor: auto;
}

.inst-img {
  background-image: url("../img/instagram.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 45px;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: filter 400ms;
}

.inst-img:hover {
  filter: brightness(60%);
}

.article-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  min-width: 40%;
  margin-left: 2rem;
}

.article-info > div > h1 {
  font-size: 24px;
}

.article-info > div > p {
  font-size: 14px;
}

.page-href {
  padding: 3px;
  border-bottom: 1px solid black;
  font-size: 15px;
  color: #32292f;
  transition: background-color 300ms;
  text-decoration: none;
}

.page-href:hover {
  background-color: #d0d0d0;
}

@media (max-width: 991px) {
  .article-item {
    flex-wrap: wrap;
  }

  .article-img {
    height: 225px;
  }

  .article-info {
    justify-content: unset;
  }
}
